<div class="h-screen w-64 bg-grey border-r border-grey-dark flex-no-shrink">
    <img class="pt-6 pl-6 block" src="/static/img/logo.png"/>
    <div class="mt-20">
        <a class="block py-3 border-l-8 border-branding no-underline pl-4 text-lg text-branding font-bold" href="#">Beranda</a>
        <a class="block py-3 no-underline text-grey-darkest pl-6 text-lg" href="#">Menu</a>
        <a class="block py-3 no-underline text-grey-darkest pl-6 text-lg" href="#">Karyawan</a>
        <a class="block py-3 no-underline text-grey-darkest pl-6 text-lg" href="#">Pelanggan</a>
        <a class="block py-3 no-underline text-grey-darkest pl-6 text-lg" href="#">Transaksi</a>
        <a class="block py-3 no-underline text-grey-darkest pl-6 text-lg" href="#">Riwayat</a>
    </div>
</div>