<div>
    <div class="flex items-center">
        <span class="flex-grow">Halo, <span class="text-branding"><%=userData.name%></span></span>
        <div class="bg-grey-darkest border-2 border-branding rounded-full h-8 w-8"></div>
    </div>
    <div class="flex items-center mt-16">
        <h1 class="font-light flex-grow">Sekilas</h1>
        <a class="text-branding no-underline" href="#">Buat Laporan</a>
    </div>
    
</div>